{
  "name": "{{name}}",
  "product": "crud",
  "version": "{{version}}",
  "package": "showcases.{{name}}",
  "description": "{{description}}",
  "domain": ["{{name}}_item"],
  "metadata": "showcases.{{name}}.metadata.{{name}}_metadata.get_{{name}}_item_ui_schema",
  "services": ["showcases.{{name}}.services.{{name}}_service.{{Name}}Service"]
}